body {
  font-family: "Verdana", sans-serif;
  color: black;
  width: 100%;
  margin: 0;
  font-size: 14px;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.top-bar {
  background-color: rgb(1, 56, 150);
  color: white;
  padding: 10px;
}

.search-bar {
  margin: 0 auto;
  max-width: 1080px;
  padding: 24px 0;
}

.help-signout {
  float: right;
}

.header-bar {
  width: 100%;
  color: black;
  background-color: rgb(106, 156, 204);
  text-align: center;
  padding: 10px 0;
}

.header-bar a {
  color: white !important;
  padding: 0 6px;
  text-decoration: none;
}

.header-bar a:hover {
  font-weight: bold;
}

.left-container {
  margin-top: 16px;
  width: 42%;
  float: left;
  padding-bottom: 24px;
}

.right-container {
  margin-top: 16px;
  width: 55%;
  float: right;
  padding-bottom: 24px;
}

/** Left side of the page **/

.my-name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.profile-photo-container {
  display: inline-block;
  width: 300px;
}

.profile-photo {
  object-fit: cover;
}

.basic-info {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: black;
  width: 35%;
}

.online-now {
  margin-top: 16px;
  width: 120px;
}

.online-now img {
  width: 100px;
}

.last-login {
  margin-top: 16px;
}

.profile-photo-footer {
  margin-top: 5px;
  padding-left: 64px;
  width: 100%;
}

.profile-photo-footer a {
  color: rgb(1, 56, 150);
  text-decoration: none;
}

.info-container {
  border: 2px solid rgb(106, 156, 204);
  margin-top: 16px;
}

.section-header {
  background-color: rgb(106, 156, 204);
  padding: 6px 12px;
  color: white;
  font-weight: bold;
}

.contact-block {
  display: inline-block;
  width: 45%;
  height: 30px;
  padding: 8px 12px;
}

.contact-block img {
  height: 24px;
  vertical-align: middle;
  margin-right: 6px;
  color: grey;
}

.contact-block span {
  display: inline-block;
  padding-top: 5px;
  color: rgb(1, 56, 150);
}

.song-block {
  margin-top: 16px;
}

.info-table {
  width: 100%;
}

.topic {
  padding: 5px;
  background-color: rgb(178, 209, 237);
  vertical-align: top;
  color: rgb(83, 144, 201);
  font-weight: bold;
  width: 40%;
}

.response {
  padding: 5px;
  background-color: rgb(213, 232, 252);
  color: black;
  width: 60%;
}

.school-co {
  padding: 5px;
  background-color: rgb(178, 209, 237);
  width: 75%;
  vertical-align: top;
}

.date-range {
  padding: 5px;
  background-color: rgb(213, 232, 252);
  width: 25%;
  vertical-align: top;
}

/** Right side of the page **/

.extended-network {
  border: 2px solid black;
  padding: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.blog-section {
  margin-top: 16px;
  padding: 0 5px;
  font-weight: 600;
}

.blog-section a {
  color: rgb(1, 56, 150);
  text-decoration: none;
}

.blog-text {
  margin-top: 16px;
}

.my-blurbs {
  margin-top: 16px;
}

.orange-header {
  color: rgb(255, 153, 69);
  font-weight: bold;
  background-color: rgb(249, 214, 185);
  padding: 5px 10px;
}

.about-me {
  margin-top: 16px;
  padding-left: 5px;
  color: rgb(255, 153, 69);
  font-weight: bold;
}

.about-me-response {
  color: #4a4a4a;
  font-weight: normal;
}

.friend-space {
  margin-top: 24px;
}

.friend-count {
  padding: 5px;
  font-weight: bold;
}

.top-friends {
  margin-top: 16px;
}

.friends-table {
  width: 100%;
}

.friend-cell {
  width: 25%;
  vertical-align: top;
}

.friend-name {
  color: rgb(1, 56, 150);
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding: 10px 0 5px 0;
}

.top-img {
  margin: 0 auto;
  width: 90%;
}

.top-friend-img {
  width: 100%;
  border: 2px solid rgb(1, 56, 150);
}

.count {
  color: rgb(180, 0, 0);
  font-weight: normal;
}

.view-all-friends {
  text-align: right;
}

.view-all-friends a {
  color: rgb(180, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.friend-comments {
  margin-top: 24px;
}

.comment-count {
  font-weight: bold;
  padding: 5px;
}

.comment-count a {
  color: rgb(1, 56, 150);
  text-decoration: none;
}

.comment {
  width: 100%;
}

.comment-user {
  background-color: rgb(255, 153, 69);
  width: 25%;
  padding: 5px;
}

.comment-user-name {
  text-align: center;
  color: rgb(1, 56, 150);
  font-weight: bold;
  padding-top: 5px;
}

.comment-img {
  margin: 0 auto;
  width: 80%;
}

.comment-user-img {
  width: 100%;
  margin-top: 5px;
}

.comment-body {
  background-color: rgb(249, 214, 185);
  width: 75%;
  vertical-align: top;
}

.comment-date {
  color: black;
  font-weight: bold;
  padding: 10px;
  vertical-align: top;
}

.comment-text {
  padding: 10px;
}

.add-comment {
  text-align: right;
  color: rgb(1, 56, 150);
  font-weight: bold;
  font-size: 13px;
}

.footer {
  background-color: rgb(228, 228, 228);
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
}
